In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

import tensorflow as tf

In [2]:
# Import Dataset and Split
inputs = pd.read_csv("C:/Users/tiafo/Desktop/BankOfEnglandInnovaitonCompetition/JupyterNotebook/inputs.csv")
inputs.shape
inputs = inputs.reset_index(drop=True)
inputs.head()

    GDP  CPIH  BankRate  HousePrices  Unemployment
0  63.8   2.6      5.94  60698.40391           7.5
1  64.8   2.4      5.94  60698.40391           7.3
2  64.9   2.2      5.94  60698.40391           7.2
3  65.2   2.1      5.94  61946.00292           7.2
4  64.7   2.1      5.94  61946.00292           7.2

In [3]:
# Creating test and train sets
train_set = inputs[:280].values
test_set = inputs[280:].values
print("Train size: ",train_set.shape)
print("Test size:",test_set.shape)

Train size:  (280, 5)
Test size: (28, 5)

In [4]:
# Scale Train Dataset
sc = MinMaxScaler()
train_set_scaled = sc.fit_transform(train_set)

In [6]:
# Create Train Data
x_train = []
y_train = []
for i in range(12,280):
    x_train.append(train_set_scaled[i-12:i].flatten())
    y_train.append(train_set_scaled[i,1])
x_train = np.array(x_train)
y_train = np.array(y_train)
x_train = np.reshape(x_train,(x_train.shape[0],x_train.shape[1],1))
x_train.shape

(268, 60, 1)

NameError: name 'x_new_train' is not defined